.App {
  margin : 0;
  padding: 0;
  text-align: center;
  height: 100%;
  background-color: rgb(4, 27, 27);
  
  
}
.navbar{
  background-color: rgb(1, 22, 22);
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.navbar-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  height: 60px;
}
.link-component{
  color: white;
  text-decoration: none;
  padding: 0 5px;
}


.navbar-user-info{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-user-info img {
  height : 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 5px;
  color: white;
}
.navbar-user-info p {
  font-weight: bold;
  color: white;
}
.navbar-user-info button {
  height : 30px;
  color: white;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}

.create-post-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

}
.create-post-form input{
  width: 300px;
    height: 35px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 0 4px;
    background-color: rgb(13 65 80);
    color: white;
}
.create-post-form textarea{
   width: 300px;
    /* height: 35px; */
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 0 4px;
    background-color: rgb(13 65 80);
    color: white;
}







