.App {
  margin : 0;
  padding: 0;
  text-align: center;
}
.navbar{
  background-color: rgb(1, 22, 22);
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
}

.navbar-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
.link-component{
  color: white;
  text-decoration: none;
  padding: 0 5px;
}


.navbar-user-info{
  display: flex;
}
.navbar-user-info img {
  height : 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 5px;
  color: white;
}
.navbar-user-info p {
  font-weight: bold;
  color: white;
}







